@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html, body{
    padding: 0;
    margin: 0;
    border: 0;
    background-color: rgb(15, 1, 59);
}

.content{
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}

.page-header{   
    padding: 10px;
    padding: 10px 10px;
    margin-top: 5%;
    background-color: rgb(42, 5, 154);
}

.header-logo{
    width: 161px;
    height: 10px;
}

.header-logo img{
    height: 30px;
}

.header-menu{
    font-family: Verdana, Tahoma, Helvecta;
    text-transform: uppercase;
    margin-top: 0.62%;
    float: right;
}

.header-menu a{
    text-decoration: none;
    color: white;
    padding: 0px 5px;
    font-size: small;
    font-weight: 500;
    font-family: Verdana, Tahoma, Helvecta;
}

.header-menu a:hover{
    cursor: pointer;
    color: rgb(212, 255, 255);
}

#top-bar-alert{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 245, 133);
    padding: 5px 5px;
    font-size: large;
    text-align: center;
    background-color: rgb(255, 182, 92);
}

.posts-container{
    background-color: rgb(219, 217, 255);
}