<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="shortcut icon" href="assets/img/pardoardo_icon.png" type="image/x-icon">
    <title>Pardoardo - Blog</title>
</head>

<body>
    <%- include('./partials/top_bar_alert')  %>
    <div class="content">

        <%- include('./partials/header'); %>
        <div class="viewer-content" style="margin-top: -20px;">
            <h3 class="introduction">Blog</h3>
        </div>
        <%- include('./partials/footer')  %>
    </div>

    <!--Scripts-->
    <script defer src="assets/js/posts-handler.js"></script>
</body>

</html>