<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="shortcut icon" href="assets/img/pardoardo_icon.png" type="image/x-icon">
    <title>Pardoardo</title>
</head>

<body>
    <%- include('./partials/top_bar_alert')  %>
    <div class="content">

        <%- include('./partials/header'); %>
        <div class="viewer-content" style="margin-top: -20px;">
            <h3 class="introduction">Bem-vindo(a) ao meu muquifo virtual! :D</h3>

            <div class="projects-section">
                <header>Projetos</header>
                <a style="height: 21px;" href="/projetos" class="section-next-button">
                    >>
                </a>
                <h1 class="loading_label">Carregando...</h1>
            </div>

            <div style="margin-top: 2%;" class="posts-section">
                <header>Posts</header>
                <a class="section-next-button" style="padding: 41.82px 20px;" href="/posts">
                    >>
                </a>
                <h1 class="loading_label">Carregando...</h1>
            </div>
        </div>
        <%- include('./partials/footer')  %>
    </div>

    <!--Scripts-->
    <script defer src="assets/js/posts-handler.js"></script>
</body>

</html>