<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/sleeping.css">
    <link rel="shortcut icon" href="assets/img/pardoardo_icon.png" type="image/x-icon">
    <title>Até daqui a pouco! :)</title>
</head>

<body>
    <div class="maintenance-content">
        <img draggable="false" src="assets/img/maintenance_sticker.png" class="sticker">
        <b><p>Tive que deixar o site temporariamente indisponível para realizar uma manutenção programada.<br> Tudo voltará ao normal por volta de 18:00 (Horário de Brasília).</b>
        <b><p>~ Pardoardo</p></b>
    </div>
</body>

</html>