<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="shortcut icon" href="assets/img/pardoardo_icon.png" type="image/x-icon">
    <title>Pardoardo</title>
</head>

<body>
    <%- include('./partials/top_bar_alert')  %>
    <div class="content">

        <%- include('./partials/header'); %>
        <div style="font-family: Arial, Helvetica, sans-serif; padding: 15px 15px; height: 1070px;" class="viewer-content">
            <h1>Termos de Uso</h1>
            <b>1. Aceitação dos Termos</b>
            <p>Ao acessar este site, você concorda em obedecer aos Termos e Condições de Uso do site, a todas as leis e regulamentos aplicáveis, e concorda que é responsável pelo cumprimento de quaisquer leis locais aplicáveis. Se você não concordar com algum destes termos, você está proibido de usar ou acessar este site.</p>

            <b>2. Licença de uso</b>
            <p>a. É concedida permissão para baixar temporariamente uma cópia dos materiais (informações ou software) no site Pardoardo, apenas para visualização transitória pessoal e não comercial. Esta é a concessão de uma licença, não uma transferência de título, e sob esta licença você não pode:</p>
            <ul>
                <li>i. modificar ou copiar os materiais;</li>
                <li>ii. utilizar os materiais para qualquer finalidade comercial ou para qualquer exibição pública (comercial ou não comercial);</li>
              </ul>
            <p>b. Esta licença será automaticamente rescindida se você violar alguma dessas restrições e poderá ser rescindida por Pardoardo a qualquer momento. Ao encerrar a visualização desses materiais ou ao término desta licença, você deverá destruir quaisquer materiais baixados em sua posse, seja em formato eletrônico ou impresso.</p>
            <b>3. Isenção de responsabilidade</b>
            <p>a. Os materiais no site Pardoardo são fornecidos “como estão”. Pardoardo não oferece garantias, expressas ou implícitas, e por este meio isenta e nega todas as outras garantias, incluindo, sem limitação, garantias implícitas ou condições de comercialização, adequação a uma finalidade específica ou não violação de propriedade intelectual ou outra violação de direitos. Além disso, Pardoardo não garante nem faz qualquer representação relativa à precisão, resultados prováveis ​​ou confiabilidade do uso dos materiais em seu site na Internet ou de outra forma relacionados a esses materiais ou em sites vinculados a este site.</p>
            <b>4. Revisões</b>
            <p>Os materiais exibidos no site Pardoardo podem incluir erros técnicos, tipográficos ou fotográficos. Pardoardo não garante que qualquer material em seu site seja preciso, completo ou atual. Pardoardo pode fazer alterações nos materiais contidos em seu site a qualquer momento, sem aviso prévio. No entanto, Pardoardo não se compromete a atualizar os materiais.</p>
            <b>5. Links</b>
            <p>Pardoardo não revisou todos os sites vinculados ao seu site na Internet e não é responsável pelo conteúdo de nenhum site vinculado. A inclusão de qualquer link não implica endosso por Pardoardo do site. O uso de qualquer site vinculado é por conta e risco do usuário.</p>
            <b>6. Modificações nos Termos de Uso do Site</b>
            <p>Pardoardo pode revisar estes termos de uso de seu site a qualquer momento, sem aviso prévio. Ao utilizar este site, você concorda em ficar vinculado à versão atual destes Termos e Condições de Uso.</p>
            <b>7. Política de Privacidade</b>
            <p>Você pode ler a política de privacidade <a href="politica-de-privacidade">aqui</a>.</p>
            <br>
            <b>Este documento foi atualizado pela última vez em 12 de agosto de 2024</b>
        </div>
        <%- include('./partials/footer')  %>
    </div>

    <!--Scripts-->
    <script defer src="assets/js/posts-handler.js"></script>
</body>

</html>