<footer>
    <div class="copyright-box">
        <img draggable="false" src="assets/img/pardoardo_white.png" height="28">
        <header>©2024 Eduardo Bezerra.</header>
    </div>
    <a href="/termos-de-uso">Termos de Uso</a>
    <a href="/politica-de-privacidade">Termos de Uso</a>
</footer>