<header class="page-header">
    <a class="header-logo" href="">
        <img src="/assets/img/pardoardo_white.png" alt="pardoardo">
    </a>
    <div class="header-menu">
        <a href="/projetos">Projetos</a>
        <a href="/blog">Blog</a>
        <a href="/sobre">Sobre</a>
        <a href="/contato">Contato</a>
    </div>
</header>